{% include 'partials/nav.html' %}
{% include 'partials/dependence.html' %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" href="../../static/css/shop-stylesheet.css">

    <style>
        .card {
        border-radius: 20px;
        overflow: hidden;
        }

        .card-img-top {
        height: 200px;
        width: 100%;
        object-fit: contain;
        padding: 10px 10px 0 10px;
    }
</style>

</head>

   <section class="py-5">
       <div class="container px-4 px-lg-0 mt-5">
           <div class="row gx-6 gx-lg-3 row-cols-5 row-cols-md-4 row-cols-xl-6 justify-content-center">
               {% for product in products %}
               <div class="col mb-5">
                   <div class="card h-100">
                    {% if product.on_sale %}
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>

                    {% endif %}
                    <!-- Product image-->
                    <img class="card-img-top" src='{{ product.image_url|default:"https://dummyimage.com/450x300/dee2e6/6c757d.jpg" }}' alt="{{ product.product_name }}" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.product_name }}</h5>
                            <!-- Product price-->
                            <span> ${{ product.price }} </span>

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
               </div>
               {% endfor %}
           </div>
       </div>
   </section>
</body>
</html>
