body {
   background: linear-gradient(to bottom, #e0f2f7 , #ffffff);
}

.card-container {
    margin-top: 20px;
}

.filter-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    margin: 20px auto;
    width: 90%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid lightgray;
    max-height: 80vh;
    overflow-y: auto;
    box-sizing: border-box;
    min-width: 250px;
}
.filter-container {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.filter-container::-webkit-scrollbar {
    display: none;
}

.filter-container select,
.filter-container input[type="number"] {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.filter-container button {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.filter-container button:hover {
    background-color: #212529;
    color: white;
}

.card {
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    width: 100%;
    object-fit: contain;
    padding: 10px 10px 0 10px;

}

h5.fw-bolder {
    font-family: 'Arial', sans-serif; !important;
    margin-top: 0;
}

.recommendation-container {

    background-image: url('/static/assets/img/recommendation-bg.png');
    background-position: center 360px;
    background-size: cover;

    padding: 10px;
    border-radius: 15px;
    margin: 21px auto;
    width: 90%;
    height: 55%;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    border: none;
    box-sizing: border-box;
    min-width: 250px;

}

.recommendation-background {
    background: linear-gradient(to bottom, #013548, #e0f2f7);
}

.recommendation-background-shop-only {
    background: linear-gradient(to bottom, lightgray, #e0f2f7);
    padding: 20px;
    color: black;
    text-align: center;
}


.recommendation-container .row {
    padding-top: 7px;
    scroll-behavior: smooth;
}

.product-image-container {
    height: 500px;
    overflow: hidden;
}

.product-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: fill;
}

.noUi-handle {
    border-radius: 50% !important;
    width: 20px !important;
    height: 20px !important;
    background: darkcyan !important;
    border: none !important;
    right: -10px !important;
    top: -2.5px !important;
    position: absolute !important;
}
.noUi-handle::before,
.noUi-handle::after {
    display: none !important;
}

.video-banner {
  width: 100%;
  height: 200px;

  overflow: hidden;
  position: relative;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


